<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Authorizer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Authorizer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Authorizer.Settings>
            <setting name="PrivateKey" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;RSAKeyValue&gt;
  &lt;Modulus&gt;0xN9ReGifv4ONVuwQ+p4iAFSf+g4Q5TzMDDOoBTdjULYgF0dsF9o+6XSx9jGfrmtwYDMeKnWNHQ3pCC9M1MdaKkpmt2SAt5wzwaY6yrzz0jgpMVK9WNH85ys2GzhTS9e2d+Uk4DtJOI3hAOCbP6EZr902JN1XFaGY/vnCsh9ypE=&lt;/Modulus&gt;
  &lt;Exponent&gt;AQAB&lt;/Exponent&gt;
  &lt;P&gt;/h6CIY7QdVGjkYXJc2DQqm22dbxkTjAJeiK5CPCrWXEVvY36zqmBcqWucTSoVdbiK31ZKjz3CX7JxRkadP52Tw==&lt;/P&gt;
  &lt;Q&gt;1KNs4gY2lNdvyj6n9Tg3+O8tXln+a0P5bR4260jjt9ad/ltrLoYx3kFPcRl4foQB3NLYeoL7Oo7BdfQq2bRZHw==&lt;/Q&gt;
  &lt;DP&gt;wWDWBlN3rs+BeawlsPdr00XKI65JZnaHv7nMtVDwFBBKSwVQZxP2vhf2t48qyqfLVOz+fXYHR+KECMkhqQY7YQ==&lt;/DP&gt;
  &lt;DQ&gt;xwzY71iLnZdyoWs3xPjEhLY4zRsHbBgslHX1SRlpef1g1utzEREz+28904zZW+1s5O9HEKAuV2mtNiLEPhlyVw==&lt;/DQ&gt;
  &lt;InverseQ&gt;QqeW1sjR64lvGXj2bMfbKZST1Vqwi08gcdYHjH3S6jA0GjWRHVma5j5spja9uG7G5/P0kCfdz/1sFHwyHswOzg==&lt;/InverseQ&gt;
  &lt;D&gt;yxQ/PRLf0qsAZJn4tv9KRCBxjZqRN4SBjeYHhsFMf/LGdoogXGcPjL54U8re/2IKKNiQ4a8V5pXCSuks38qhySWTzSYIXwpYkdjEYPl7eRAZ+XKYkFtRDJCgZ6ReT26H+yvqL/pGNJQJE2Oy+2y9T4SBgRK9/HYVSwYRAAw0HPk=&lt;/D&gt;
&lt;/RSAKeyValue&gt;</value>
            </setting>
            <setting name="PublicKey" serializeAs="String">
                <value />
            </setting>
        </Authorizer.Settings>
    </applicationSettings>
    <userSettings>
        <Authorizer.Settings>
            <setting name="Setting" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;RSAKeyValue&gt;
  &lt;Modulus&gt;0xN9ReGifv4ONVuwQ+p4iAFSf+g4Q5TzMDDOoBTdjULYgF0dsF9o+6XSx9jGfrmtwYDMeKnWNHQ3pCC9M1MdaKkpmt2SAt5wzwaY6yrzz0jgpMVK9WNH85ys2GzhTS9e2d+Uk4DtJOI3hAOCbP6EZr902JN1XFaGY/vnCsh9ypE=&lt;/Modulus&gt;
  &lt;Exponent&gt;AQAB&lt;/Exponent&gt;
&lt;/RSAKeyValue&gt;</value>
            </setting>
        </Authorizer.Settings>
    </userSettings>
</configuration>